@use "colors" as *;
@use "shadows" as *;
#blog {
	padding: 7.3125rem 0rem 8.75rem 1.875rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7.8125rem;
	.blog-post {
		width: clamp(76.25vw, calc(76.25vw - 91.5rem), 91.5rem);
		aspect-ratio: 3.161;
		padding-right: clamp(8.6vw, calc(8.6vw - 10.375rem), 10.375rem);
		background-color: $color-accent;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.blog-p-books {
			height: 82%;
			margin-left: clamp(6%, calc(6% - 5.5rem), 5.5rem);
			display: flex;
			width: 48.4%;
			justify-content: space-between;
			align-items: center;
			.highlight-book {
				display: flex;
				align-items: center;
				justify-content: center;
				width: clamp(13vw, calc(13vw - 15.625rem), 15.625rem);
				aspect-ratio: 0.658;

				flex-shrink: 0;
				overflow: hidden;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center;
					display: block;
				}
			}
		}
		.blog-p-img {
			height: 100%;
			width: calc(48.4% + clamp(0.5%, calc(0.5% - 0.5rem), 0.5rem));
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.blog-preview {
			width: clamp(23.5vw, calc(23.5vw - 28.125rem), 28.125rem);
			padding: 4.5rem 0;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: $color-fg-three;
			h1 {
				font-size: 2rem;
				font-weight: bold;
				color: inherit;
				margin-bottom: 3.75rem;
			}
			p {
				color: inherit;
				max-width: 92%;
				margin-bottom: 2.5rem;
			}
			.btn-read-more {
				margin: auto;
				width: 53%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1.5rem 0rem;
				background-color: $color-accent;
				color: $color-fg-three;
				border: $color-fg-three solid 1px;
				border-radius: 0.1rem;
				font-size: 1rem;
				font-weight: 400;
				cursor: pointer;
				transition: background-color 200ms;
				margin: 0;
				transition: box-shadow, background-color 300ms;
				&:hover {
					color: $color-fg-three;
					background-color: $color-focus;
					box-shadow: $shadow-combined;
				}
			}
		}
	}
}
