@use "colors" as *;
@use "fonts" as *;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", "GillSansCustom", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $color-bg;
}
#app {
	flex: 1;
	display: flex; /* enables child flex behavior */
	flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 1rem;
	color: $color-fg;
}
li a {
	font-family: "Caveat";
}
