* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 16px;
}
#loginContainer {
	display: flex;
	flex-direction: column;
	margin: 3vh auto;
	padding: 1.5rem;
	border-radius: 0.5rem;
	width: fit-content;
	background-color: oklch(0.3 0 0);
	gap: 0.5rem;
}
#form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.75rem;
	width: 10rem;
}
#message {
	text-align: center;
	min-height: 2rem;
	overflow: wrap;
	padding: 0.5rem;
}
