* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #202020;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #f2f2f2;
	margin-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
	height: 18vh;
	width: 78vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer {
	height: 15vh;
	width: 78vw;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#content {
	height: 67vh;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.box {
	height: 20vh;
	width: 20vh;
	background-color: #fdfd96;
	margin: 5px 20px 5px 20px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
